<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <head>
    {% render 'head-content' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_button }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '48x48' }}" type="image/png">
    {%- endif -%}

    {%- liquid
  capture title
    echo page_title

    if current_tags
      assign meta_tags = current_tags | join: ', ' | append: ' &ndash; '
      assign labels_tagged_with = 'labels.tagged_with' | t: tags: meta_tags
      capture fallback_labels_tagged_with
        echo 'Tagged with: "' | append: meta_tags | append: '"'
      endcapture
      render 't_with_fallback', t: labels_tagged_with, fallback: fallback_labels_tagged_with
    endif

    if current_page != 1
      assign labels_page_title = 'labels.page_title' | t: page: current_page | prepend: ' &ndash; '
      capture fallback_labels_page_title
        echo 'Page ' | append: current_page | prepend: ' &ndash; '
      endcapture
      render 't_with_fallback', t: labels_page_title, fallback: fallback_labels_page_title
    endif

    if template == 'password'
      echo shop.name
    endif
  endcapture
-%}

<title>{{ title }}</title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'social-meta-tags' -%}

    {%- render 'font-face' -%}
    {{ 'components.css' | asset_url | stylesheet_tag: preload: true }}
    {%- render 'css-variables' -%}
    {{ 'overrides.css' | asset_url | stylesheet_tag }}

    {{ 'custom.css' | asset_url | stylesheet_tag }}


    {%- style -%}
      :root {
        --product-grid-padding: 12px;
      }
    {%- endstyle -%}

    {%- liquid
      assign enableSuperScript = false
      unless shop.money_format contains 'money' or shop.money_format contains '.'
        if settings.superscript_decimals
          if shop.money_format contains '{{amount}}' or shop.money_format contains '{{ amount }}'
            assign enableSuperScript = true
          elsif shop.money_format contains '{{amount_with_comma_separator}}' or shop.money_format contains '{{ amount_with_comma_separator }}'
            assign enableSuperScript = true
          endif
        endif
      endunless
    -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      window.theme = window.theme || {};

      theme.settings = {
        themeName: 'Expanse',
        themeVersion: '6.1.0', // x-release-please-version
      };
    </script>

    {%- render 'import-map' -%}
    {%- render 'es-module-shims' -%}
    {%- render 'is-land' -%}
    {%- render 'preload-js' -%}
    {%- render 'theme-editor' -%}

    {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
    	{{ content_for_header }}
    {%- else -%}
    	{% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
    	{{ content_for_header2 | replace: ' async="async" ', ' type="load" ' | replace: ' defer="defer" ', ' type="load" ' | replace: " src=", " d-src="| replace: "DOMContentLoaded", "xDOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('xDOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('xDOMContentLoaded', prefetchAssets);" | replace: "type='text/javascript' async=''", "type='load' " | replace: 'type="module" d-', 'dxt="module" type="load" d-' | replace: 'async dxt="module" type="load"', 'dxt="module"' | replace: '<script type="module">', '<script dxt="module" type="load">'| replace: "type='text/javascript' defer='defer' d-src", "type='load' d-src" | replace: '<script>' , '<script type="load">' | replace: 'type="load" d-src="https://shop.app/checkouts/internal/preloads.js', 'type="lload" d-src="https://shop.app/checkouts/internal/preloads.js' }}
    	<script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
    {%- endif -%}

    <script type="load" d-src="{{ 'theme.js' | asset_url }}"></script>

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {% if request.design_mode %}
      <script>
        theme.settings.email = {{ shop.email | json }}
      </script>
      <script type="load" d-src="https://api.archetypethemes.co/design-mode.js"></script>
    {% endif %}
    {% render 'app-block' %}
    {% render 'custom-css' %}
  </head>

  <body
    class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}"
    data-button_style="{{ settings.button_style }}"
    data-edges="{{ settings.roundness }}"
    data-type_header_capitalize="{{ settings.type_header_capitalize }}"
    data-swatch_style="{{ settings.swatch_style }}"
    data-grid-style="{{ settings.product_grid_style }}"
  >
    <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'actions.skip_to_content' | t }}</a>

    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {%- sections 'header-group' -%}
        {%- sections 'popup-group' -%}

        <main class="main-content" id="MainContent">
          {{ content_for_layout }}
        </main>

        {%- sections 'footer-group' -%}
      </div>
    </div>

    {%- liquid
      render 'photoswipe-template'
      render 'tool-tip'
    -%}
    {% render 'footer-app-block' %}
    {% render 'foot-content' %}
  </body>
</html>
