{% if collection.metafields.custom.bottom_faq_heading  != blank %}
<section class="bottom-faq-tabs">
  <div class="page-width">
    <h2 class="faqmain-heading">{{ collection.metafields.custom.bottom_faq_heading }}</h2>
  {%assign title = collection.metafields.custom.bottom_faq_title.value %}
  {%assign title_content = collection.metafields.custom.bottom_faq_contents.value %}
    <div class="faqtabs">
       {% for titles in title %}
      <div class="faqtab">
        <input type="checkbox" id="chck{{ forloop.index }}" class="faqinput">
        <label class="faqtab-label" for="chck{{ forloop.index }}"><h2>{{ titles }}</h2></label>
        <div class="faqtab-content">
         {{ title_content[forloop.index0] }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% schema %}
{
  "name": "Bottom Collapsible tabs",
  "settings": [],
  "presets": [
    {
      "name": "Bottom Collapsible tabs"
    }
  ]
}
{% endschema %}